<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1053771834208-dseu8s7n58d91co0607qtklmjc969uve.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1053771834208-dseu8s7n58d91co0607qtklmjc969uve</string>
	<key>API_KEY</key>
	<string>AIzaSyDQSjEFqz8sxh2IM5lugqKlLfOzbG99-x8</string>
	<key>GCM_SENDER_ID</key>
	<string>1053771834208</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.facetap.facetap</string>
	<key>PROJECT_ID</key>
	<string>facetapme</string>
	<key>STORAGE_BUCKET</key>
	<string>facetapme.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1053771834208:ios:78fc215a765a3e3f80b405</string>
</dict>
</plist>